.HeaderContainer {
  width: 100%;
  height: 66px;
  margin: 0 auto;
  background-color: #3066be;
}

.headerContent {
  width: 100%; /* Added to make centering work consistently */
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Distribute content with spaces between */
  align-items: center; /* Center content vertically within .headerContent (optional) */
}

a {
  color: #ffff;
  font-size: 18px;
  text-decoration: none;
  padding: 1px;
  /* Removed margin as flexbox will handle spacing */
}

.title {
  margin-top: 10px;
  font-size: 30px;
  color: #ffff;
  font-weight: bold;
  /* Margin-right not needed anymore */
}

.logout-btn {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #ff4a41;
  border: none;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
}
