/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Vehicle container styles */
.vehicle-container {
  display: flex; /* Cambiar a flex para centrar horizontalmente */
  align-items: center;
  justify-content: center; /* Center content vertically */
  justify-items: center; /* Center items horizontally */
  height: 50%; /* Cubrir toda la altura de la pantalla */
  width: 50%; /* Cubrir todo el ancho de la pantalla */
  margin: 0 auto;
}

/* Column styles */
.column {
  /* Remove flex-direction */
  width: 50%;
  padding: 20px;
  background-color: hsla(183, 43%, 81%, 0.8); /* Fondo translúcido */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 50px; /* Subir la tarjeta 50 píxeles */
  margin-top: 50px;
}

.button {
  background-color: #119da4; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  padding: 12px; /* Acolchado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Puntero del cursor como mano */
  align-self: flex-start;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 8px;
}
